components/registry/org.wso2.carbon.registry.search.ui/src/main/resources/SearchAdminService/SearchAdminService.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<!--
 ~ Copyright (c) 2005-2010, WSO2 Inc. (http://www.wso2.org) All Rights Reserved.
 ~
 ~ WSO2 Inc. licenses this file to you under the Apache License,
 ~ Version 2.0 (the "License"); you may not use this file except
 ~ in compliance with the License.
 ~ You may obtain a copy of the License at
 ~
 ~    http://www.apache.org/licenses/LICENSE-2.0
 ~
 ~ Unless required by applicable law or agreed to in writing,
 ~ software distributed under the License is distributed on an
 ~ "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 ~ KIND, either express or implied.  See the License for the
 ~ specific language governing permissions and limitations
 ~ under the License.
 -->
<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:ax2220="http://exceptions.core.registry.carbon.wso2.org/xsd" xmlns:ns="http://services.search.registry.carbon.wso2.org" xmlns:ax2221="http://api.registry.carbon.wso2.org/xsd" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:ax2224="http://beans.search.registry.carbon.wso2.org/xsd" xmlns:ax2226="http://common.registry.carbon.wso2.org/xsd" xmlns:ns1="http://org.apache.axis2/xsd" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://services.search.registry.carbon.wso2.org">
    <wsdl:documentation>SearchAdminService</wsdl:documentation>
    <wsdl:types>
        <xs:schema attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://common.registry.carbon.wso2.org/xsd">
            <xs:complexType name="ResourceData">
                <xs:sequence>
                    <xs:element minOccurs="0" name="absent" nillable="true" type="xs:string" />
                    <xs:element minOccurs="0" name="authorUserName" nillable="true" type="xs:string" />
                    <xs:element minOccurs="0" name="averageRating" type="xs:float" />

                    <xs:element maxOccurs="unbounded" minOccurs="0" name="averageStars" nillable="true" type="xs:string" />
                    <xs:element minOccurs="0" name="createdOn" nillable="true" type="xs:dateTime" />
                    <xs:element minOccurs="0" name="deleteAllowed" type="xs:boolean" />
                    <xs:element minOccurs="0" name="description" nillable="true" type="xs:string" />
                    <xs:element minOccurs="0" name="externalLink" type="xs:boolean" />
                    <xs:element minOccurs="0" name="formattedCreatedOn" nillable="true" type="xs:string" />
                    <xs:element minOccurs="0" name="getAllowed" type="xs:boolean" />
                    <xs:element minOccurs="0" name="link" type="xs:boolean" />
                    <xs:element minOccurs="0" name="mounted" type="xs:boolean" />

                    <xs:element minOccurs="0" name="name" nillable="true" type="xs:string" />
                    <xs:element minOccurs="0" name="putAllowed" type="xs:boolean" />
                    <xs:element minOccurs="0" name="realPath" nillable="true" type="xs:string" />
                    <xs:element minOccurs="0" name="relativePath" nillable="true" type="xs:string" />
                    <xs:element minOccurs="0" name="resourcePath" nillable="true" type="xs:string" />
                    <xs:element minOccurs="0" name="resourceType" nillable="true" type="xs:string" />
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="tagCounts" nillable="true" type="ax2226:TagCount" />
                </xs:sequence>
            </xs:complexType>

            <xs:complexType name="TagCount">
                <xs:sequence>
                    <xs:element minOccurs="0" name="key" nillable="true" type="xs:string" />
                    <xs:element minOccurs="0" name="value" nillable="true" type="xs:long" />
                </xs:sequence>
            </xs:complexType>
        </xs:schema>
        <xs:schema xmlns:ax2222="http://api.registry.carbon.wso2.org/xsd" attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://exceptions.core.registry.carbon.wso2.org/xsd">
            <xs:import namespace="http://api.registry.carbon.wso2.org/xsd" />

            <xs:complexType name="RegistryException">
                <xs:complexContent>
                    <xs:extension base="ax2222:RegistryException">
                        <xs:sequence />
                    </xs:extension>
                </xs:complexContent>
            </xs:complexType>
        </xs:schema>
        <xs:schema xmlns:ax2223="http://exceptions.core.registry.carbon.wso2.org/xsd" xmlns:ax2225="http://beans.search.registry.carbon.wso2.org/xsd" attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://services.search.registry.carbon.wso2.org">

            <xs:import namespace="http://exceptions.core.registry.carbon.wso2.org/xsd" />
            <xs:import namespace="http://beans.search.registry.carbon.wso2.org/xsd" />
            <xs:element name="saveAdvancedSearchFilterRegistryException">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="RegistryException" nillable="true" type="ax2220:RegistryException" />
                    </xs:sequence>
                </xs:complexType>
            </xs:element>

            <xs:element name="saveAdvancedSearchFilter">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="queryBean" nillable="true" type="ax2224:CustomSearchParameterBean" />
                        <xs:element minOccurs="0" name="filterName" nillable="true" type="xs:string" />
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getSearchResultsRegistryException">

                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="RegistryException" nillable="true" type="ax2220:RegistryException" />
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getSearchResults">
                <xs:complexType>
                    <xs:sequence>

                        <xs:element minOccurs="0" name="searchType" nillable="true" type="xs:string" />
                        <xs:element minOccurs="0" name="criteria" nillable="true" type="xs:string" />
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getSearchResultsResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" nillable="true" type="ax2224:SearchResultsBean" />

                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getSavedFiltersRegistryException">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="RegistryException" nillable="true" type="ax2220:RegistryException" />
                    </xs:sequence>
                </xs:complexType>

            </xs:element>
            <xs:element name="getSavedFilters">
                <xs:complexType>
                    <xs:sequence />
                </xs:complexType>
            </xs:element>
            <xs:element name="getSavedFiltersResponse">
                <xs:complexType>
                    <xs:sequence>

                        <xs:element maxOccurs="unbounded" minOccurs="0" name="return" nillable="true" type="xs:string" />
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getMediaTypeSearchRegistryException">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="RegistryException" nillable="true" type="ax2220:RegistryException" />
                    </xs:sequence>

                </xs:complexType>
            </xs:element>
            <xs:element name="getMediaTypeSearch">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="mediaType" nillable="true" type="xs:string" />
                    </xs:sequence>
                </xs:complexType>
            </xs:element>

            <xs:element name="getMediaTypeSearchResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" nillable="true" type="ax2224:MediaTypeValueList" />
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getAdvancedSearchResultsRegistryException">
                <xs:complexType>

                    <xs:sequence>
                        <xs:element minOccurs="0" name="RegistryException" nillable="true" type="ax2220:RegistryException" />
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getAdvancedSearchResults">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="parameters" nillable="true" type="ax2224:CustomSearchParameterBean" />

                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getAdvancedSearchResultsResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" nillable="true" type="ax2224:AdvancedSearchResultsBean" />
                    </xs:sequence>
                </xs:complexType>

            </xs:element>
            <xs:element name="getAdvancedSearchFilterRegistryException">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="RegistryException" nillable="true" type="ax2220:RegistryException" />
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getAdvancedSearchFilter">

                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="filterName" nillable="true" type="xs:string" />
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getAdvancedSearchFilterResponse">
                <xs:complexType>
                    <xs:sequence>

                        <xs:element minOccurs="0" name="return" nillable="true" type="ax2224:CustomSearchParameterBean" />
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:schema>
        <xs:schema xmlns:ax2227="http://common.registry.carbon.wso2.org/xsd" attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://beans.search.registry.carbon.wso2.org/xsd">
            <xs:import namespace="http://common.registry.carbon.wso2.org/xsd" />
            <xs:complexType name="CustomSearchParameterBean">
                <xs:sequence>

                    <xs:element maxOccurs="unbounded" minOccurs="0" name="parameterValues" nillable="true" type="ax2224:ArrayOfString" />
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="ArrayOfString">
                <xs:sequence>
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="array" nillable="true" type="xs:string" />
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="SearchResultsBean">

                <xs:sequence>
                    <xs:element minOccurs="0" name="errorMessage" nillable="true" type="xs:string" />
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="resourceDataList" nillable="true" type="ax2227:ResourceData" />
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="MediaTypeValueList">
                <xs:sequence>
                    <xs:element minOccurs="0" name="mediaType" nillable="true" type="xs:string" />
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="searchFields" nillable="true" type="xs:string" />

                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="AdvancedSearchResultsBean">
                <xs:sequence>
                    <xs:element minOccurs="0" name="errorMessage" nillable="true" type="xs:string" />
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="resourceDataList" nillable="true" type="ax2227:ResourceData" />
                </xs:sequence>
            </xs:complexType>
        </xs:schema>

        <xs:schema attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://api.registry.carbon.wso2.org/xsd">
            <xs:complexType name="RegistryException">
                <xs:sequence />
            </xs:complexType>
        </xs:schema>
    </wsdl:types>
    <wsdl:message name="getAdvancedSearchFilterRequest">
        <wsdl:part name="parameters" element="ns:getAdvancedSearchFilter" />
    </wsdl:message>

    <wsdl:message name="getAdvancedSearchFilterResponse">
        <wsdl:part name="parameters" element="ns:getAdvancedSearchFilterResponse" />
    </wsdl:message>
    <wsdl:message name="getAdvancedSearchFilterRegistryException">
        <wsdl:part name="parameters" element="ns:getAdvancedSearchFilterRegistryException" />
    </wsdl:message>
    <wsdl:message name="saveAdvancedSearchFilterRequest">
        <wsdl:part name="parameters" element="ns:saveAdvancedSearchFilter" />
    </wsdl:message>

    <wsdl:message name="saveAdvancedSearchFilterRegistryException">
        <wsdl:part name="parameters" element="ns:saveAdvancedSearchFilterRegistryException" />
    </wsdl:message>
    <wsdl:message name="getSearchResultsRequest">
        <wsdl:part name="parameters" element="ns:getSearchResults" />
    </wsdl:message>
    <wsdl:message name="getSearchResultsResponse">
        <wsdl:part name="parameters" element="ns:getSearchResultsResponse" />
    </wsdl:message>

    <wsdl:message name="getSearchResultsRegistryException">
        <wsdl:part name="parameters" element="ns:getSearchResultsRegistryException" />
    </wsdl:message>
    <wsdl:message name="getSavedFiltersRequest">
        <wsdl:part name="parameters" element="ns:getSavedFilters" />
    </wsdl:message>
    <wsdl:message name="getSavedFiltersResponse">
        <wsdl:part name="parameters" element="ns:getSavedFiltersResponse" />
    </wsdl:message>

    <wsdl:message name="getSavedFiltersRegistryException">
        <wsdl:part name="parameters" element="ns:getSavedFiltersRegistryException" />
    </wsdl:message>
    <wsdl:message name="getAdvancedSearchResultsRequest">
        <wsdl:part name="parameters" element="ns:getAdvancedSearchResults" />
    </wsdl:message>
    <wsdl:message name="getAdvancedSearchResultsResponse">
        <wsdl:part name="parameters" element="ns:getAdvancedSearchResultsResponse" />
    </wsdl:message>

    <wsdl:message name="getAdvancedSearchResultsRegistryException">
        <wsdl:part name="parameters" element="ns:getAdvancedSearchResultsRegistryException" />
    </wsdl:message>
    <wsdl:message name="getMediaTypeSearchRequest">
        <wsdl:part name="parameters" element="ns:getMediaTypeSearch" />
    </wsdl:message>
    <wsdl:message name="getMediaTypeSearchResponse">
        <wsdl:part name="parameters" element="ns:getMediaTypeSearchResponse" />
    </wsdl:message>

    <wsdl:message name="getMediaTypeSearchRegistryException">
        <wsdl:part name="parameters" element="ns:getMediaTypeSearchRegistryException" />
    </wsdl:message>
    <wsdl:portType name="SearchAdminServicePortType">
        <wsdl:operation name="getAdvancedSearchFilter">
            <wsdl:input message="ns:getAdvancedSearchFilterRequest" wsaw:Action="urn:getAdvancedSearchFilter" />
            <wsdl:output message="ns:getAdvancedSearchFilterResponse" wsaw:Action="urn:getAdvancedSearchFilterResponse" />
            <wsdl:fault message="ns:getAdvancedSearchFilterRegistryException" name="getAdvancedSearchFilterRegistryException" wsaw:Action="urn:getAdvancedSearchFiltergetAdvancedSearchFilterRegistryException" />
        </wsdl:operation>

        <wsdl:operation name="saveAdvancedSearchFilter">
            <wsdl:input message="ns:saveAdvancedSearchFilterRequest" wsaw:Action="urn:saveAdvancedSearchFilter" />
            <wsdl:fault message="ns:saveAdvancedSearchFilterRegistryException" name="saveAdvancedSearchFilterRegistryException" wsaw:Action="urn:saveAdvancedSearchFiltersaveAdvancedSearchFilterRegistryException" />
        </wsdl:operation>
        <wsdl:operation name="getSearchResults">
            <wsdl:input message="ns:getSearchResultsRequest" wsaw:Action="urn:getSearchResults" />
            <wsdl:output message="ns:getSearchResultsResponse" wsaw:Action="urn:getSearchResultsResponse" />
            <wsdl:fault message="ns:getSearchResultsRegistryException" name="getSearchResultsRegistryException" wsaw:Action="urn:getSearchResultsgetSearchResultsRegistryException" />
        </wsdl:operation>

        <wsdl:operation name="getSavedFilters">
            <wsdl:input message="ns:getSavedFiltersRequest" wsaw:Action="urn:getSavedFilters" />
            <wsdl:output message="ns:getSavedFiltersResponse" wsaw:Action="urn:getSavedFiltersResponse" />
            <wsdl:fault message="ns:getSavedFiltersRegistryException" name="getSavedFiltersRegistryException" wsaw:Action="urn:getSavedFiltersgetSavedFiltersRegistryException" />
        </wsdl:operation>
        <wsdl:operation name="getAdvancedSearchResults">
            <wsdl:input message="ns:getAdvancedSearchResultsRequest" wsaw:Action="urn:getAdvancedSearchResults" />
            <wsdl:output message="ns:getAdvancedSearchResultsResponse" wsaw:Action="urn:getAdvancedSearchResultsResponse" />
            <wsdl:fault message="ns:getAdvancedSearchResultsRegistryException" name="getAdvancedSearchResultsRegistryException" wsaw:Action="urn:getAdvancedSearchResultsgetAdvancedSearchResultsRegistryException" />

        </wsdl:operation>
        <wsdl:operation name="getMediaTypeSearch">
            <wsdl:input message="ns:getMediaTypeSearchRequest" wsaw:Action="urn:getMediaTypeSearch" />
            <wsdl:output message="ns:getMediaTypeSearchResponse" wsaw:Action="urn:getMediaTypeSearchResponse" />
            <wsdl:fault message="ns:getMediaTypeSearchRegistryException" name="getMediaTypeSearchRegistryException" wsaw:Action="urn:getMediaTypeSearchgetMediaTypeSearchRegistryException" />
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="SearchAdminServiceSoap11Binding" type="ns:SearchAdminServicePortType">
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document" />

        <wsdl:operation name="getAdvancedSearchFilter">
            <soap:operation soapAction="urn:getAdvancedSearchFilter" style="document" />
            <wsdl:input>
                <soap:body use="literal" />
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" />
            </wsdl:output>
            <wsdl:fault name="getAdvancedSearchFilterRegistryException">

                <soap:fault use="literal" name="getAdvancedSearchFilterRegistryException" />
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="saveAdvancedSearchFilter">
            <soap:operation soapAction="urn:saveAdvancedSearchFilter" style="document" />
            <wsdl:input>
                <soap:body use="literal" />
            </wsdl:input>
            <wsdl:fault name="saveAdvancedSearchFilterRegistryException">

                <soap:fault use="literal" name="saveAdvancedSearchFilterRegistryException" />
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="getSearchResults">
            <soap:operation soapAction="urn:getSearchResults" style="document" />
            <wsdl:input>
                <soap:body use="literal" />
            </wsdl:input>
            <wsdl:output>

                <soap:body use="literal" />
            </wsdl:output>
            <wsdl:fault name="getSearchResultsRegistryException">
                <soap:fault use="literal" name="getSearchResultsRegistryException" />
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="getSavedFilters">
            <soap:operation soapAction="urn:getSavedFilters" style="document" />
            <wsdl:input>

                <soap:body use="literal" />
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" />
            </wsdl:output>
            <wsdl:fault name="getSavedFiltersRegistryException">
                <soap:fault use="literal" name="getSavedFiltersRegistryException" />
            </wsdl:fault>
        </wsdl:operation>

        <wsdl:operation name="getAdvancedSearchResults">
            <soap:operation soapAction="urn:getAdvancedSearchResults" style="document" />
            <wsdl:input>
                <soap:body use="literal" />
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" />
            </wsdl:output>
            <wsdl:fault name="getAdvancedSearchResultsRegistryException">

                <soap:fault use="literal" name="getAdvancedSearchResultsRegistryException" />
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="getMediaTypeSearch">
            <soap:operation soapAction="urn:getMediaTypeSearch" style="document" />
            <wsdl:input>
                <soap:body use="literal" />
            </wsdl:input>
            <wsdl:output>

                <soap:body use="literal" />
            </wsdl:output>
            <wsdl:fault name="getMediaTypeSearchRegistryException">
                <soap:fault use="literal" name="getMediaTypeSearchRegistryException" />
            </wsdl:fault>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="SearchAdminServiceSoap12Binding" type="ns:SearchAdminServicePortType">
        <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" style="document" />

        <wsdl:operation name="getAdvancedSearchFilter">
            <soap12:operation soapAction="urn:getAdvancedSearchFilter" style="document" />
            <wsdl:input>
                <soap12:body use="literal" />
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal" />
            </wsdl:output>
            <wsdl:fault name="getAdvancedSearchFilterRegistryException">

                <soap12:fault use="literal" name="getAdvancedSearchFilterRegistryException" />
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="saveAdvancedSearchFilter">
            <soap12:operation soapAction="urn:saveAdvancedSearchFilter" style="document" />
            <wsdl:input>
                <soap12:body use="literal" />
            </wsdl:input>
            <wsdl:fault name="saveAdvancedSearchFilterRegistryException">

                <soap12:fault use="literal" name="saveAdvancedSearchFilterRegistryException" />
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="getSearchResults">
            <soap12:operation soapAction="urn:getSearchResults" style="document" />
            <wsdl:input>
                <soap12:body use="literal" />
            </wsdl:input>
            <wsdl:output>

                <soap12:body use="literal" />
            </wsdl:output>
            <wsdl:fault name="getSearchResultsRegistryException">
                <soap12:fault use="literal" name="getSearchResultsRegistryException" />
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="getSavedFilters">
            <soap12:operation soapAction="urn:getSavedFilters" style="document" />
            <wsdl:input>

                <soap12:body use="literal" />
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal" />
            </wsdl:output>
            <wsdl:fault name="getSavedFiltersRegistryException">
                <soap12:fault use="literal" name="getSavedFiltersRegistryException" />
            </wsdl:fault>
        </wsdl:operation>

        <wsdl:operation name="getAdvancedSearchResults">
            <soap12:operation soapAction="urn:getAdvancedSearchResults" style="document" />
            <wsdl:input>
                <soap12:body use="literal" />
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal" />
            </wsdl:output>
            <wsdl:fault name="getAdvancedSearchResultsRegistryException">

                <soap12:fault use="literal" name="getAdvancedSearchResultsRegistryException" />
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="getMediaTypeSearch">
            <soap12:operation soapAction="urn:getMediaTypeSearch" style="document" />
            <wsdl:input>
                <soap12:body use="literal" />
            </wsdl:input>
            <wsdl:output>

                <soap12:body use="literal" />
            </wsdl:output>
            <wsdl:fault name="getMediaTypeSearchRegistryException">
                <soap12:fault use="literal" name="getMediaTypeSearchRegistryException" />
            </wsdl:fault>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="SearchAdminServiceHttpBinding" type="ns:SearchAdminServicePortType">
        <http:binding verb="POST" />

        <wsdl:operation name="getAdvancedSearchFilter">
            <http:operation location="getAdvancedSearchFilter" />
            <wsdl:input>
                <mime:content type="text/xml" part="parameters" />
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters" />
            </wsdl:output>
        </wsdl:operation>

        <wsdl:operation name="saveAdvancedSearchFilter">
            <http:operation location="saveAdvancedSearchFilter" />
            <wsdl:input>
                <mime:content type="text/xml" part="parameters" />
            </wsdl:input>
        </wsdl:operation>
        <wsdl:operation name="getSearchResults">
            <http:operation location="getSearchResults" />
            <wsdl:input>

                <mime:content type="text/xml" part="parameters" />
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters" />
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getSavedFilters">
            <http:operation location="getSavedFilters" />
            <wsdl:input>

                <mime:content type="text/xml" part="parameters" />
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters" />
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getAdvancedSearchResults">
            <http:operation location="getAdvancedSearchResults" />
            <wsdl:input>

                <mime:content type="text/xml" part="parameters" />
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters" />
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getMediaTypeSearch">
            <http:operation location="getMediaTypeSearch" />
            <wsdl:input>

                <mime:content type="text/xml" part="parameters" />
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters" />
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="SearchAdminService">
        <wsdl:port name="SearchAdminServiceHttpsSoap11Endpoint" binding="ns:SearchAdminServiceSoap11Binding">

            <soap:address location="https://10.215.157.94:9443/services/SearchAdminService.SearchAdminServiceHttpsSoap11Endpoint/" />
        </wsdl:port>
        <wsdl:port name="SearchAdminServiceHttpsSoap12Endpoint" binding="ns:SearchAdminServiceSoap12Binding">
            <soap12:address location="https://10.215.157.94:9443/services/SearchAdminService.SearchAdminServiceHttpsSoap12Endpoint/" />
        </wsdl:port>
        <wsdl:port name="SearchAdminServiceHttpsEndpoint" binding="ns:SearchAdminServiceHttpBinding">
            <http:address location="https://10.215.157.94:9443/services/SearchAdminService.SearchAdminServiceHttpsEndpoint/" />
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>
