components/registry/org.wso2.carbon.registry.properties.ui/src/main/resources/PropertiesAdminService/PropertiesAdminService.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<!--
 ~ Copyright (c) 2005-2010, WSO2 Inc. (http://www.wso2.org) All Rights Reserved.
 ~
 ~ WSO2 Inc. licenses this file to you under the Apache License,
 ~ Version 2.0 (the "License"); you may not use this file except
 ~ in compliance with the License.
 ~ You may obtain a copy of the License at
 ~
 ~    http://www.apache.org/licenses/LICENSE-2.0
 ~
 ~ Unless required by applicable law or agreed to in writing,
 ~ software distributed under the License is distributed on an
 ~ "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 ~ KIND, either express or implied.  See the License for the
 ~ specific language governing permissions and limitations
 ~ under the License.
 -->
<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:ns="http://services.properties.registry.carbon.wso2.org" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:ax2203="http://beans.properties.registry.carbon.wso2.org/xsd" xmlns:ns1="http://org.apache.axis2/xsd" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:ax2205="http://utils.properties.registry.carbon.wso2.org/xsd" xmlns:ax2199="http://exceptions.core.registry.carbon.wso2.org/xsd" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:ax2200="http://api.registry.carbon.wso2.org/xsd" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://services.properties.registry.carbon.wso2.org">
    <wsdl:documentation>PropertiesAdminService</wsdl:documentation>
    <wsdl:types>
        <xs:schema attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://utils.properties.registry.carbon.wso2.org/xsd">
            <xs:complexType name="Property">
                <xs:sequence>
                    <xs:element minOccurs="0" name="key" nillable="true" type="xs:string" />
                    <xs:element minOccurs="0" name="value" nillable="true" type="xs:string" />
                </xs:sequence>

            </xs:complexType>
        </xs:schema>
        <xs:schema xmlns:ax2206="http://utils.properties.registry.carbon.wso2.org/xsd" attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://beans.properties.registry.carbon.wso2.org/xsd">
            <xs:import namespace="http://utils.properties.registry.carbon.wso2.org/xsd" />
            <xs:complexType name="RetentionBean">
                <xs:sequence>
                    <xs:element minOccurs="0" name="deleteLocked" type="xs:boolean" />
                    <xs:element minOccurs="0" name="fromDate" nillable="true" type="xs:string" />
                    <xs:element minOccurs="0" name="readOnly" type="xs:boolean" />

                    <xs:element minOccurs="0" name="toDate" nillable="true" type="xs:string" />
                    <xs:element minOccurs="0" name="userName" nillable="true" type="xs:string" />
                    <xs:element minOccurs="0" name="writeLocked" type="xs:boolean" />
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="PropertiesBean">
                <xs:sequence>
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="lifecycleProperties" nillable="true" type="xs:string" />
                    <xs:element minOccurs="0" name="loggedIn" type="xs:boolean" />

                    <xs:element minOccurs="0" name="pathWithVersion" nillable="true" type="xs:string" />
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="properties" nillable="true" type="ax2205:Property" />
                    <xs:element minOccurs="0" name="putAllowed" type="xs:boolean" />
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="sysProperties" nillable="true" type="xs:string" />
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="validationProperties" nillable="true" type="xs:string" />
                    <xs:element minOccurs="0" name="versionView" type="xs:boolean" />
                </xs:sequence>
            </xs:complexType>
        </xs:schema>

        <xs:schema xmlns:ax2201="http://api.registry.carbon.wso2.org/xsd" attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://exceptions.core.registry.carbon.wso2.org/xsd">
            <xs:import namespace="http://api.registry.carbon.wso2.org/xsd" />
            <xs:complexType name="RegistryException">
                <xs:complexContent>
                    <xs:extension base="ax2201:RegistryException">
                        <xs:sequence />
                    </xs:extension>
                </xs:complexContent>
            </xs:complexType>

        </xs:schema>
        <xs:schema xmlns:ax2204="http://beans.properties.registry.carbon.wso2.org/xsd" xmlns:ax2202="http://exceptions.core.registry.carbon.wso2.org/xsd" attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://services.properties.registry.carbon.wso2.org">
            <xs:import namespace="http://exceptions.core.registry.carbon.wso2.org/xsd" />
            <xs:import namespace="http://beans.properties.registry.carbon.wso2.org/xsd" />
            <xs:element name="updatePropertyRegistryException">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="RegistryException" nillable="true" type="ax2202:RegistryException" />
                    </xs:sequence>

                </xs:complexType>
            </xs:element>
            <xs:element name="updateProperty">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="path" nillable="true" type="xs:string" />
                        <xs:element minOccurs="0" name="name" nillable="true" type="xs:string" />
                        <xs:element minOccurs="0" name="value" nillable="true" type="xs:string" />
                        <xs:element minOccurs="0" name="oldName" nillable="true" type="xs:string" />

                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="setRetentionPropertiesRegistryException">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="RegistryException" nillable="true" type="ax2202:RegistryException" />
                    </xs:sequence>
                </xs:complexType>

            </xs:element>
            <xs:element name="setRetentionProperties">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="path" nillable="true" type="xs:string" />
                        <xs:element minOccurs="0" name="bean" nillable="true" type="ax2203:RetentionBean" />
                    </xs:sequence>
                </xs:complexType>
            </xs:element>

            <xs:element name="setRetentionPropertiesResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" type="xs:boolean" />
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="setPropertyRegistryException">
                <xs:complexType>

                    <xs:sequence>
                        <xs:element minOccurs="0" name="RegistryException" nillable="true" type="ax2202:RegistryException" />
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="setProperty">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="path" nillable="true" type="xs:string" />

                        <xs:element minOccurs="0" name="name" nillable="true" type="xs:string" />
                        <xs:element minOccurs="0" name="value" nillable="true" type="xs:string" />
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="removePropertyRegistryException">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="RegistryException" nillable="true" type="ax2202:RegistryException" />

                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="removeProperty">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="path" nillable="true" type="xs:string" />
                        <xs:element minOccurs="0" name="name" nillable="true" type="xs:string" />
                    </xs:sequence>

                </xs:complexType>
            </xs:element>
            <xs:element name="getRetentionPropertiesRegistryException">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="RegistryException" nillable="true" type="ax2202:RegistryException" />
                    </xs:sequence>
                </xs:complexType>
            </xs:element>

            <xs:element name="getRetentionProperties">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="path" nillable="true" type="xs:string" />
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getRetentionPropertiesResponse">
                <xs:complexType>

                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" nillable="true" type="ax2203:RetentionBean" />
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getPropertiesRegistryException">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="RegistryException" nillable="true" type="ax2202:RegistryException" />

                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getProperties">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="path" nillable="true" type="xs:string" />
                        <xs:element minOccurs="0" name="viewProps" nillable="true" type="xs:string" />
                    </xs:sequence>

                </xs:complexType>
            </xs:element>
            <xs:element name="getPropertiesResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" nillable="true" type="ax2203:PropertiesBean" />
                    </xs:sequence>
                </xs:complexType>
            </xs:element>

        </xs:schema>
        <xs:schema attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://api.registry.carbon.wso2.org/xsd">
            <xs:complexType name="RegistryException">
                <xs:sequence />
            </xs:complexType>
        </xs:schema>
    </wsdl:types>
    <wsdl:message name="getRetentionPropertiesRequest">
        <wsdl:part name="parameters" element="ns:getRetentionProperties" />

    </wsdl:message>
    <wsdl:message name="getRetentionPropertiesResponse">
        <wsdl:part name="parameters" element="ns:getRetentionPropertiesResponse" />
    </wsdl:message>
    <wsdl:message name="getRetentionPropertiesRegistryException">
        <wsdl:part name="parameters" element="ns:getRetentionPropertiesRegistryException" />
    </wsdl:message>
    <wsdl:message name="getPropertiesRequest">
        <wsdl:part name="parameters" element="ns:getProperties" />

    </wsdl:message>
    <wsdl:message name="getPropertiesResponse">
        <wsdl:part name="parameters" element="ns:getPropertiesResponse" />
    </wsdl:message>
    <wsdl:message name="getPropertiesRegistryException">
        <wsdl:part name="parameters" element="ns:getPropertiesRegistryException" />
    </wsdl:message>
    <wsdl:message name="removePropertyRequest">
        <wsdl:part name="parameters" element="ns:removeProperty" />

    </wsdl:message>
    <wsdl:message name="removePropertyRegistryException">
        <wsdl:part name="parameters" element="ns:removePropertyRegistryException" />
    </wsdl:message>
    <wsdl:message name="updatePropertyRequest">
        <wsdl:part name="parameters" element="ns:updateProperty" />
    </wsdl:message>
    <wsdl:message name="updatePropertyRegistryException">
        <wsdl:part name="parameters" element="ns:updatePropertyRegistryException" />

    </wsdl:message>
    <wsdl:message name="setRetentionPropertiesRequest">
        <wsdl:part name="parameters" element="ns:setRetentionProperties" />
    </wsdl:message>
    <wsdl:message name="setRetentionPropertiesResponse">
        <wsdl:part name="parameters" element="ns:setRetentionPropertiesResponse" />
    </wsdl:message>
    <wsdl:message name="setRetentionPropertiesRegistryException">
        <wsdl:part name="parameters" element="ns:setRetentionPropertiesRegistryException" />

    </wsdl:message>
    <wsdl:message name="setPropertyRequest">
        <wsdl:part name="parameters" element="ns:setProperty" />
    </wsdl:message>
    <wsdl:message name="setPropertyRegistryException">
        <wsdl:part name="parameters" element="ns:setPropertyRegistryException" />
    </wsdl:message>
    <wsdl:portType name="PropertiesAdminServicePortType">
        <wsdl:operation name="getRetentionProperties">

            <wsdl:input message="ns:getRetentionPropertiesRequest" wsaw:Action="urn:getRetentionProperties" />
            <wsdl:output message="ns:getRetentionPropertiesResponse" wsaw:Action="urn:getRetentionPropertiesResponse" />
            <wsdl:fault message="ns:getRetentionPropertiesRegistryException" name="getRetentionPropertiesRegistryException" wsaw:Action="urn:getRetentionPropertiesgetRetentionPropertiesRegistryException" />
        </wsdl:operation>
        <wsdl:operation name="getProperties">
            <wsdl:input message="ns:getPropertiesRequest" wsaw:Action="urn:getProperties" />
            <wsdl:output message="ns:getPropertiesResponse" wsaw:Action="urn:getPropertiesResponse" />
            <wsdl:fault message="ns:getPropertiesRegistryException" name="getPropertiesRegistryException" wsaw:Action="urn:getPropertiesgetPropertiesRegistryException" />
        </wsdl:operation>

        <wsdl:operation name="removeProperty">
            <wsdl:input message="ns:removePropertyRequest" wsaw:Action="urn:removeProperty" />
            <wsdl:fault message="ns:removePropertyRegistryException" name="removePropertyRegistryException" wsaw:Action="urn:removePropertyremovePropertyRegistryException" />
        </wsdl:operation>
        <wsdl:operation name="updateProperty">
            <wsdl:input message="ns:updatePropertyRequest" wsaw:Action="urn:updateProperty" />
            <wsdl:fault message="ns:updatePropertyRegistryException" name="updatePropertyRegistryException" wsaw:Action="urn:updatePropertyupdatePropertyRegistryException" />
        </wsdl:operation>
        <wsdl:operation name="setRetentionProperties">

            <wsdl:input message="ns:setRetentionPropertiesRequest" wsaw:Action="urn:setRetentionProperties" />
            <wsdl:output message="ns:setRetentionPropertiesResponse" wsaw:Action="urn:setRetentionPropertiesResponse" />
            <wsdl:fault message="ns:setRetentionPropertiesRegistryException" name="setRetentionPropertiesRegistryException" wsaw:Action="urn:setRetentionPropertiessetRetentionPropertiesRegistryException" />
        </wsdl:operation>
        <wsdl:operation name="setProperty">
            <wsdl:input message="ns:setPropertyRequest" wsaw:Action="urn:setProperty" />
            <wsdl:fault message="ns:setPropertyRegistryException" name="setPropertyRegistryException" wsaw:Action="urn:setPropertysetPropertyRegistryException" />
        </wsdl:operation>
    </wsdl:portType>

    <wsdl:binding name="PropertiesAdminServiceSoap11Binding" type="ns:PropertiesAdminServicePortType">
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document" />
        <wsdl:operation name="getRetentionProperties">
            <soap:operation soapAction="urn:getRetentionProperties" style="document" />
            <wsdl:input>
                <soap:body use="literal" />
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" />

            </wsdl:output>
            <wsdl:fault name="getRetentionPropertiesRegistryException">
                <soap:fault use="literal" name="getRetentionPropertiesRegistryException" />
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="getProperties">
            <soap:operation soapAction="urn:getProperties" style="document" />
            <wsdl:input>
                <soap:body use="literal" />

            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" />
            </wsdl:output>
            <wsdl:fault name="getPropertiesRegistryException">
                <soap:fault use="literal" name="getPropertiesRegistryException" />
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="updateProperty">

            <soap:operation soapAction="urn:updateProperty" style="document" />
            <wsdl:input>
                <soap:body use="literal" />
            </wsdl:input>
            <wsdl:fault name="updatePropertyRegistryException">
                <soap:fault use="literal" name="updatePropertyRegistryException" />
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="removeProperty">

            <soap:operation soapAction="urn:removeProperty" style="document" />
            <wsdl:input>
                <soap:body use="literal" />
            </wsdl:input>
            <wsdl:fault name="removePropertyRegistryException">
                <soap:fault use="literal" name="removePropertyRegistryException" />
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="setRetentionProperties">

            <soap:operation soapAction="urn:setRetentionProperties" style="document" />
            <wsdl:input>
                <soap:body use="literal" />
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" />
            </wsdl:output>
            <wsdl:fault name="setRetentionPropertiesRegistryException">
                <soap:fault use="literal" name="setRetentionPropertiesRegistryException" />

            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="setProperty">
            <soap:operation soapAction="urn:setProperty" style="document" />
            <wsdl:input>
                <soap:body use="literal" />
            </wsdl:input>
            <wsdl:fault name="setPropertyRegistryException">
                <soap:fault use="literal" name="setPropertyRegistryException" />

            </wsdl:fault>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="PropertiesAdminServiceSoap12Binding" type="ns:PropertiesAdminServicePortType">
        <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" style="document" />
        <wsdl:operation name="getRetentionProperties">
            <soap12:operation soapAction="urn:getRetentionProperties" style="document" />
            <wsdl:input>
                <soap12:body use="literal" />

            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal" />
            </wsdl:output>
            <wsdl:fault name="getRetentionPropertiesRegistryException">
                <soap12:fault use="literal" name="getRetentionPropertiesRegistryException" />
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="getProperties">

            <soap12:operation soapAction="urn:getProperties" style="document" />
            <wsdl:input>
                <soap12:body use="literal" />
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal" />
            </wsdl:output>
            <wsdl:fault name="getPropertiesRegistryException">
                <soap12:fault use="literal" name="getPropertiesRegistryException" />

            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="updateProperty">
            <soap12:operation soapAction="urn:updateProperty" style="document" />
            <wsdl:input>
                <soap12:body use="literal" />
            </wsdl:input>
            <wsdl:fault name="updatePropertyRegistryException">
                <soap12:fault use="literal" name="updatePropertyRegistryException" />

            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="removeProperty">
            <soap12:operation soapAction="urn:removeProperty" style="document" />
            <wsdl:input>
                <soap12:body use="literal" />
            </wsdl:input>
            <wsdl:fault name="removePropertyRegistryException">
                <soap12:fault use="literal" name="removePropertyRegistryException" />

            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="setRetentionProperties">
            <soap12:operation soapAction="urn:setRetentionProperties" style="document" />
            <wsdl:input>
                <soap12:body use="literal" />
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal" />

            </wsdl:output>
            <wsdl:fault name="setRetentionPropertiesRegistryException">
                <soap12:fault use="literal" name="setRetentionPropertiesRegistryException" />
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="setProperty">
            <soap12:operation soapAction="urn:setProperty" style="document" />
            <wsdl:input>
                <soap12:body use="literal" />

            </wsdl:input>
            <wsdl:fault name="setPropertyRegistryException">
                <soap12:fault use="literal" name="setPropertyRegistryException" />
            </wsdl:fault>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="PropertiesAdminServiceHttpBinding" type="ns:PropertiesAdminServicePortType">
        <http:binding verb="POST" />
        <wsdl:operation name="getRetentionProperties">

            <http:operation location="getRetentionProperties" />
            <wsdl:input>
                <mime:content type="text/xml" part="parameters" />
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters" />
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getProperties">

            <http:operation location="getProperties" />
            <wsdl:input>
                <mime:content type="text/xml" part="parameters" />
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters" />
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="updateProperty">

            <http:operation location="updateProperty" />
            <wsdl:input>
                <mime:content type="text/xml" part="parameters" />
            </wsdl:input>
        </wsdl:operation>
        <wsdl:operation name="removeProperty">
            <http:operation location="removeProperty" />
            <wsdl:input>
                <mime:content type="text/xml" part="parameters" />

            </wsdl:input>
        </wsdl:operation>
        <wsdl:operation name="setRetentionProperties">
            <http:operation location="setRetentionProperties" />
            <wsdl:input>
                <mime:content type="text/xml" part="parameters" />
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters" />

            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="setProperty">
            <http:operation location="setProperty" />
            <wsdl:input>
                <mime:content type="text/xml" part="parameters" />
            </wsdl:input>
        </wsdl:operation>
    </wsdl:binding>

    <wsdl:service name="PropertiesAdminService">
        <wsdl:port name="PropertiesAdminServiceHttpsSoap11Endpoint" binding="ns:PropertiesAdminServiceSoap11Binding">
            <soap:address location="https://127.0.0.1:9443/services/PropertiesAdminService.PropertiesAdminServiceHttpsSoap11Endpoint/" />
        </wsdl:port>
        <wsdl:port name="PropertiesAdminServiceHttpsSoap12Endpoint" binding="ns:PropertiesAdminServiceSoap12Binding">
            <soap12:address location="https://127.0.0.1:9443/services/PropertiesAdminService.PropertiesAdminServiceHttpsSoap12Endpoint/" />
        </wsdl:port>
        <wsdl:port name="PropertiesAdminServiceHttpsEndpoint" binding="ns:PropertiesAdminServiceHttpBinding">
            <http:address location="https://127.0.0.1:9443/services/PropertiesAdminService.PropertiesAdminServiceHttpsEndpoint/" />

        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>
