service-stubs/registry/org.wso2.carbon.registry.profiles.stub/src/main/resources/ProfilesAdminService.wsdl

<!--
 ~ Copyright (c) 2005-2010, WSO2 Inc. (http://www.wso2.org) All Rights Reserved.
 ~
 ~ WSO2 Inc. licenses this file to you under the Apache License,
 ~ Version 2.0 (the "License"); you may not use this file except
 ~ in compliance with the License.
 ~ You may obtain a copy of the License at
 ~
 ~    http://www.apache.org/licenses/LICENSE-2.0
 ~
 ~ Unless required by applicable law or agreed to in writing,
 ~ software distributed under the License is distributed on an
 ~ "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 ~ KIND, either express or implied.  See the License for the
 ~ specific language governing permissions and limitations
 ~ under the License.
 -->
<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:ax2152="http://core.user.carbon.wso2.org/xsd" xmlns:ns1="http://org.apache.axis2/xsd" xmlns:ns="http://services.profiles.registry.carbon.wso2.org" xmlns:ax2150="http://exceptions.core.registry.carbon.wso2.org/xsd" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:ax2154="http://beans.profiles.registry.carbon.wso2.org/xsd" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://services.profiles.registry.carbon.wso2.org">
    <wsdl:documentation>ProfilesAdminService</wsdl:documentation>
    <wsdl:types>
        <xs:schema xmlns:ax2151="http://exceptions.core.registry.carbon.wso2.org/xsd" xmlns:ax2155="http://beans.profiles.registry.carbon.wso2.org/xsd" xmlns:ax2153="http://core.user.carbon.wso2.org/xsd" attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://services.profiles.registry.carbon.wso2.org">
            <xs:import namespace="http://exceptions.core.registry.carbon.wso2.org/xsd" />
            <xs:import namespace="http://core.user.carbon.wso2.org/xsd" />
            <xs:import namespace="http://beans.profiles.registry.carbon.wso2.org/xsd" />
            <xs:element name="RegistryException">
                <xs:complexType>

                    <xs:sequence>
                        <xs:element minOccurs="0" name="RegistryException" nillable="true" type="ax2151:RegistryException" />
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="UserStoreException">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="UserStoreException" nillable="true" type="ax2152:UserStoreException" />

                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="putUserProfile">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="path" nillable="true" type="xs:string" />
                    </xs:sequence>
                </xs:complexType>

            </xs:element>
            <xs:element name="putUserProfileResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" type="xs:boolean" />
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getUserProfile">

                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="path" nillable="true" type="xs:string" />
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getUserProfileResponse">
                <xs:complexType>
                    <xs:sequence>

                        <xs:element minOccurs="0" name="return" nillable="true" type="ax2155:ProfilesBean" />
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:schema>
        <xs:schema attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://exceptions.core.registry.carbon.wso2.org/xsd">
            <xs:complexType name="RegistryException">
                <xs:sequence />
            </xs:complexType>

        </xs:schema>
        <xs:schema attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://beans.profiles.registry.carbon.wso2.org/xsd">
            <xs:complexType name="ProfilesBean">
                <xs:sequence>
                    <xs:element minOccurs="0" name="mainDataString" nillable="true" type="xs:string" />
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="profileNames" nillable="true" type="xs:string" />
                    <xs:element minOccurs="0" name="userName" nillable="true" type="xs:string" />
                </xs:sequence>
            </xs:complexType>

        </xs:schema>
        <xs:schema attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://core.user.carbon.wso2.org/xsd">
            <xs:complexType name="UserStoreException">
                <xs:sequence />
            </xs:complexType>
        </xs:schema>
    </wsdl:types>
    <wsdl:message name="putUserProfileRequest">
        <wsdl:part name="parameters" element="ns:putUserProfile" />

    </wsdl:message>
    <wsdl:message name="putUserProfileResponse">
        <wsdl:part name="parameters" element="ns:putUserProfileResponse" />
    </wsdl:message>
    <wsdl:message name="RegistryException">
        <wsdl:part name="parameters" element="ns:RegistryException" />
    </wsdl:message>
    <wsdl:message name="UserStoreException">
        <wsdl:part name="parameters" element="ns:UserStoreException" />

    </wsdl:message>
    <wsdl:message name="getUserProfileRequest">
        <wsdl:part name="parameters" element="ns:getUserProfile" />
    </wsdl:message>
    <wsdl:message name="getUserProfileResponse">
        <wsdl:part name="parameters" element="ns:getUserProfileResponse" />
    </wsdl:message>
    <wsdl:portType name="ProfilesAdminServicePortType">
        <wsdl:operation name="putUserProfile">

            <wsdl:input message="ns:putUserProfileRequest" wsaw:Action="urn:putUserProfile" />
            <wsdl:output message="ns:putUserProfileResponse" wsaw:Action="urn:putUserProfileResponse" />
            <wsdl:fault message="ns:RegistryException" name="RegistryException" wsaw:Action="urn:putUserProfileRegistryException" />
            <wsdl:fault message="ns:UserStoreException" name="UserStoreException" wsaw:Action="urn:putUserProfileUserStoreException" />
        </wsdl:operation>
        <wsdl:operation name="getUserProfile">
            <wsdl:input message="ns:getUserProfileRequest" wsaw:Action="urn:getUserProfile" />
            <wsdl:output message="ns:getUserProfileResponse" wsaw:Action="urn:getUserProfileResponse" />
            <wsdl:fault message="ns:RegistryException" name="RegistryException" wsaw:Action="urn:getUserProfileRegistryException" />

            <wsdl:fault message="ns:UserStoreException" name="UserStoreException" wsaw:Action="urn:getUserProfileUserStoreException" />
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="ProfilesAdminServiceSoap11Binding" type="ns:ProfilesAdminServicePortType">
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document" />
        <wsdl:operation name="putUserProfile">
            <soap:operation soapAction="urn:putUserProfile" style="document" />
            <wsdl:input>
                <soap:body use="literal" />

            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" />
            </wsdl:output>
            <wsdl:fault name="RegistryException">
                <soap:fault use="literal" name="RegistryException" />
            </wsdl:fault>
            <wsdl:fault name="UserStoreException">
                <soap:fault use="literal" name="UserStoreException" />

            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="getUserProfile">
            <soap:operation soapAction="urn:getUserProfile" style="document" />
            <wsdl:input>
                <soap:body use="literal" />
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" />

            </wsdl:output>
            <wsdl:fault name="RegistryException">
                <soap:fault use="literal" name="RegistryException" />
            </wsdl:fault>
            <wsdl:fault name="UserStoreException">
                <soap:fault use="literal" name="UserStoreException" />
            </wsdl:fault>
        </wsdl:operation>
    </wsdl:binding>

    <wsdl:binding name="ProfilesAdminServiceSoap12Binding" type="ns:ProfilesAdminServicePortType">
        <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" style="document" />
        <wsdl:operation name="putUserProfile">
            <soap12:operation soapAction="urn:putUserProfile" style="document" />
            <wsdl:input>
                <soap12:body use="literal" />
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal" />

            </wsdl:output>
            <wsdl:fault name="RegistryException">
                <soap12:fault use="literal" name="RegistryException" />
            </wsdl:fault>
            <wsdl:fault name="UserStoreException">
                <soap12:fault use="literal" name="UserStoreException" />
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="getUserProfile">

            <soap12:operation soapAction="urn:getUserProfile" style="document" />
            <wsdl:input>
                <soap12:body use="literal" />
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal" />
            </wsdl:output>
            <wsdl:fault name="RegistryException">
                <soap12:fault use="literal" name="RegistryException" />

            </wsdl:fault>
            <wsdl:fault name="UserStoreException">
                <soap12:fault use="literal" name="UserStoreException" />
            </wsdl:fault>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="ProfilesAdminServiceHttpBinding" type="ns:ProfilesAdminServicePortType">
        <http:binding verb="POST" />
        <wsdl:operation name="putUserProfile">

            <http:operation location="putUserProfile" />
            <wsdl:input>
                <mime:content type="text/xml" part="parameters" />
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters" />
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getUserProfile">

            <http:operation location="getUserProfile" />
            <wsdl:input>
                <mime:content type="text/xml" part="parameters" />
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters" />
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>

    <wsdl:service name="ProfilesAdminService">
        <wsdl:port name="ProfilesAdminServiceHttpsSoap11Endpoint" binding="ns:ProfilesAdminServiceSoap11Binding">
            <soap:address location="https://10.100.0.25:9443/services/ProfilesAdminService.ProfilesAdminServiceHttpsSoap11Endpoint/" />
        </wsdl:port>
        <wsdl:port name="ProfilesAdminServiceHttpsSoap12Endpoint" binding="ns:ProfilesAdminServiceSoap12Binding">
            <soap12:address location="https://10.100.0.25:9443/services/ProfilesAdminService.ProfilesAdminServiceHttpsSoap12Endpoint/" />
        </wsdl:port>
        <wsdl:port name="ProfilesAdminServiceHttpsEndpoint" binding="ns:ProfilesAdminServiceHttpBinding">
            <http:address location="https://10.100.0.25:9443/services/ProfilesAdminService.ProfilesAdminServiceHttpsEndpoint/" />

        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>
        