service-stubs/registry/org.wso2.carbon.registry.activities.stub/src/main/resources/ActivityAdminService.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<!--
 ~ Copyright (c) 2005-2010, WSO2 Inc. (http://www.wso2.org) All Rights Reserved.
 ~
 ~ WSO2 Inc. licenses this file to you under the Apache License,
 ~ Version 2.0 (the "License"); you may not use this file except
 ~ in compliance with the License.
 ~ You may obtain a copy of the License at
 ~
 ~    http://www.apache.org/licenses/LICENSE-2.0
 ~
 ~ Unless required by applicable law or agreed to in writing,
 ~ software distributed under the License is distributed on an
 ~ "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 ~ KIND, either express or implied.  See the License for the
 ~ specific language governing permissions and limitations
 ~ under the License.
 -->
<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:ax2134="http://beans.common.registry.carbon.wso2.org/xsd" xmlns:ns1="http://org.apache.axis2/xsd" xmlns:ns="http://services.activities.registry.carbon.wso2.org" xmlns:ax2132="http://exceptions.core.registry.carbon.wso2.org/xsd" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://services.activities.registry.carbon.wso2.org">
    <wsdl:documentation>ActivityAdminService</wsdl:documentation>
    <wsdl:types>
        <xs:schema attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://exceptions.core.registry.carbon.wso2.org/xsd">
            <xs:complexType name="RegistryException">
                <xs:sequence />
            </xs:complexType>
        </xs:schema>
        <xs:schema attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://beans.common.registry.carbon.wso2.org/xsd">

            <xs:complexType name="ActivityBean">
                <xs:sequence>
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="activity" nillable="true" type="xs:string" />
                    <xs:element minOccurs="0" name="errorMessage" nillable="true" type="xs:string" />
                </xs:sequence>
            </xs:complexType>
        </xs:schema>
        <xs:schema xmlns:ax2133="http://exceptions.core.registry.carbon.wso2.org/xsd" xmlns:ax2135="http://beans.common.registry.carbon.wso2.org/xsd" attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://services.activities.registry.carbon.wso2.org">
            <xs:import namespace="http://exceptions.core.registry.carbon.wso2.org/xsd" />

            <xs:import namespace="http://beans.common.registry.carbon.wso2.org/xsd" />
            <xs:element name="RegistryException">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="RegistryException" nillable="true" type="ax2133:RegistryException" />
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getActivities">

                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="userName" nillable="true" type="xs:string" />
                        <xs:element minOccurs="0" name="resourcePath" nillable="true" type="xs:string" />
                        <xs:element minOccurs="0" name="fromDate" nillable="true" type="xs:string" />
                        <xs:element minOccurs="0" name="toDate" nillable="true" type="xs:string" />
                        <xs:element minOccurs="0" name="filter" nillable="true" type="xs:string" />
                        <xs:element minOccurs="0" name="pageStr" nillable="true" type="xs:string" />
                        <xs:element minOccurs="0" name="sessionId" nillable="true" type="xs:string" />

                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getActivitiesResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" nillable="true" type="ax2134:ActivityBean" />
                    </xs:sequence>
                </xs:complexType>

            </xs:element>
        </xs:schema>
    </wsdl:types>
    <wsdl:message name="getActivitiesRequest">
        <wsdl:part name="parameters" element="ns:getActivities" />
    </wsdl:message>
    <wsdl:message name="getActivitiesResponse">
        <wsdl:part name="parameters" element="ns:getActivitiesResponse" />
    </wsdl:message>

    <wsdl:message name="RegistryException">
        <wsdl:part name="parameters" element="ns:RegistryException" />
    </wsdl:message>
    <wsdl:portType name="ActivityAdminServicePortType">
        <wsdl:operation name="getActivities">
            <wsdl:input message="ns:getActivitiesRequest" wsaw:Action="urn:getActivities" />
            <wsdl:output message="ns:getActivitiesResponse" wsaw:Action="urn:getActivitiesResponse" />
            <wsdl:fault message="ns:RegistryException" name="RegistryException" wsaw:Action="urn:getActivitiesRegistryException" />
        </wsdl:operation>

    </wsdl:portType>
    <wsdl:binding name="ActivityAdminServiceSoap11Binding" type="ns:ActivityAdminServicePortType">
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document" />
        <wsdl:operation name="getActivities">
            <soap:operation soapAction="urn:getActivities" style="document" />
            <wsdl:input>
                <soap:body use="literal" />
            </wsdl:input>
            <wsdl:output>

                <soap:body use="literal" />
            </wsdl:output>
            <wsdl:fault name="RegistryException">
                <soap:fault use="literal" name="RegistryException" />
            </wsdl:fault>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="ActivityAdminServiceSoap12Binding" type="ns:ActivityAdminServicePortType">
        <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" style="document" />

        <wsdl:operation name="getActivities">
            <soap12:operation soapAction="urn:getActivities" style="document" />
            <wsdl:input>
                <soap12:body use="literal" />
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal" />
            </wsdl:output>
            <wsdl:fault name="RegistryException">

                <soap12:fault use="literal" name="RegistryException" />
            </wsdl:fault>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="ActivityAdminServiceHttpBinding" type="ns:ActivityAdminServicePortType">
        <http:binding verb="POST" />
        <wsdl:operation name="getActivities">
            <http:operation location="getActivities" />
            <wsdl:input>

                <mime:content type="text/xml" part="parameters" />
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters" />
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="ActivityAdminService">
        <wsdl:port name="ActivityAdminServiceHttpsSoap11Endpoint" binding="ns:ActivityAdminServiceSoap11Binding">

            <soap:address location="https://10.100.0.25:9443/services/ActivityAdminService.ActivityAdminServiceHttpsSoap11Endpoint/" />
        </wsdl:port>
        <wsdl:port name="ActivityAdminServiceHttpsSoap12Endpoint" binding="ns:ActivityAdminServiceSoap12Binding">
            <soap12:address location="https://10.100.0.25:9443/services/ActivityAdminService.ActivityAdminServiceHttpsSoap12Endpoint/" />
        </wsdl:port>
        <wsdl:port name="ActivityAdminServiceHttpsEndpoint" binding="ns:ActivityAdminServiceHttpBinding">
            <http:address location="https://10.100.0.25:9443/services/ActivityAdminService.ActivityAdminServiceHttpsEndpoint/" />
        </wsdl:port>
    </wsdl:service>

</wsdl:definitions>